{% extends 'base.html.twig' %}

{% block nav_cont %} active {% endblock %}

{% block content %}

    <h1>MGW Contact Details</h1>
    <p>
        email: info@my-great-website.com<br>
        Phone: +353 1 888 2233<br>
        Post: 198 Main Street, Dublin, Ireland
    </p>

{% endblock %}